.container,
.hourly,
.hourly div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.container {
    padding-top: 2rem;
}

.container button {
    all: unset;
    cursor: pointer;
    background-color: #809FFF;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: 50ms;
}

.container button:hover {
    background-color: #0000FF;
    color: white;
}

.hourly {
    margin-top: 2rem;
}

.hourly div {
    margin: 2rem 0;
}