.container {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    all: unset;
    cursor: pointer;
    background-color: #809FFF;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: 50ms;
}
.btn:hover {
    background-color: #0000FF;
    color: white;
}
.hourly {
    width: 100%;
}